:root{
  --azul:#011A40;
  --amarelo:#FFD740;
  --amarelo2:#FFB300;
  --laranja:#E67E22;
  --cinza:#f4f6f8;
}

header{
  top: 0;
  z-index: 1000;
  background: var(--azul);
  color: #fff;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

nav a{
  font-family:'Montserrat', sans-serif;
  font-weight:800;
  font-size:1.30rem;
}

header nav{
  text-align: end;
}

.logo img{
  height: 50px;
  width: auto;
}

nav{
  display: flex;
  gap: 20px;
}

a,
a:visited,
a:active,
a:focus{
    text-decoration: none;
}

nav a{
  color: #fff;
  font-weight: 600;
  transition: opacity 0.2s ease;
}

nav a:hover{
  opacity: 0.8;
  color:#FFB300;
}


nav a:active{
  color: var(--amarelo);
  border-bottom: 2px solid var(--amarelo);
  padding-bottom: 3px;
}


.nav-cta{
  background: var(--amarelo);
  color:#000000;
  padding:8px 14px;
  border-radius:6px;
  font-family:'Montserrat', sans-serif;
  font-weight:800;
  font-size:1.2rem;
}

.nav-cta:hover{
  color:#ffffff;
  background:var(--amarelo2);
  opacity:1;
}

